.aboutUs {
  display: inline-flex;
  margin-bottom: 100px;
}
.aboutUsPic img {
  width: 279 px;
  height: 280px;
  margin: 50px;
  margin-left: 50px;
  margin-right: 70px;
}

.aboutext {
  display: block;
}

.titleAbout {
  height: 172px;
}
.titleAbout h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 10px;
}
.titleAbout h2 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.aboutUsPara p {
  display: block;
  float: left;
  font-size: 30px;
  line-height: 1.5;
}
