img {
    width: 200px;
}

.dishes {
    border: solid black;

}

body {
    background-color: #3a563e;
    color: #f7eae6;
}

.dishesObject {
    background-color: #E1D7DB
    ;
}

i {
    color: #f7eae6;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 4px #f7eae6;
    border-radius: 25px;
    margin-right: 10px;
    padding: 2%;
    background-color: white;
    color: black;
    width: 250px;
    margin-bottom: 20px;
    overflow: scroll;
}

.cardCollection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}