img {
    width: 200px;
}

.dishes {
    border: solid black;

}

body {
    background-color: #3a563e;
    color: #f7eae6;
}

.dishesObject {
    background-color: #E1D7DB
    ;
}

i {
    color: #f7eae6;
}